*{
	margin:0;
	padding:0;
	font-family: sans-serif;
}
.hero{
 height: 100vh;
 background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(image/4.PNG);
 background-position: center;
 background-size: cover;
 overflow-x: hidden;
 position: relative;
}
.nav-bar{
	display: flex;
	padding: 40px 120px;
}
.nav-logo img{
	width:120px;
}
.nav-links{
	flex: 1;
}
.nav-links ul{
	margin-left: 50px;
	display: inline;
}
.nav-links ul li{
	list-style:none;
	display: inline-block;
	padding: 8px 25px;
}
.nav-links ul a{
	color: #fff;
	text-decoration: none;
	font-size:23px;
}
.nav-links ul li::after{
	content: '';
	width: 100%;
	height: 2px;
	
	display: block;
	margin: auto;
	transition: .5s;
}
.nav-links ul li:hover:after{
	width: 100%;
}
.btn{
	padding: 10px 20px;
	border:0;
	background:yellow;
	font-weight: bold;
	cursor: pointer;
}
.nav-links .btn{
	float: right;
}
.banner-title{
	margin:80px 130px;
	color: #fff;
}
.banner-title h1{
	font-size: 64px;
	margin-bottom: 30px;
}
.banner-title h1 span{
	color: yellow;
}
.vertical-bar{
	height: 100%;
	background:#000;
	top: 0;
	left: 0;
	position: absolute;
}
.search-icon{
height: 60%;
width: 80px;
}
.search-icon .fa{
margin: 45px 23px;
display: block;
color: #fff;
font-size: 30px;
cursor: pointer;
}
.social-icons{
	height: 35%;
	width: 88px;
	background: yellow;
	text-align: center;
	padding-top: 27%;
	bottom: 0;
	position: absolute;
}

.social-icons .fa{
	margin:15px 23px;
	display: block;
	padding: 8px;
	border:1px solid #000;
	border-radius: 50%;
	cursor:pointer;
}

.office {
text-align: center;
color: black;
background:yellow;
}
.ul{
	text-align: center;
    color: black;
}

.contents{
	flex-basis: 50%;
	padding: 10px;
}

.nav-bar .fa{
	display: none;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@media (max-width: 700px){
	.vertical-bar{
		display: none;
	}
	.banner-title{
		margin: 80px 40px;
	}
	.banner-title h1{
		font-size: 50px;
	}
	.nav-bar{
		padding: 10px 30px;
	}
	.fa-bars{
		position: absolute;
		right: 20px;
		top: 18px;
	}
	.nav-bar .fa{
		display: block;
		color: white;
		margin: 10px 25px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links{
		height: 100vh;
		width: 200px;
		background:#000;
		top: 0;
		right: -200px;
		position: absolute;
		text-align: left;
		z-index: 2;

	}
	.nav-links ul a{
		display: block;
	}
	.nav-links .btn{
		float: none;
		margin-left: 25px;
		margin-right: 10px;
	}


}